@charset "UTF-8";
/* === Variables === */
/* Renk paleti */
/* Yazı tipi */
@font-face {
  font-family: h1title;
  src: url(/assets/fonts/InriaSerif-Bold.ttf);
}
@font-face {
  font-family: boxfont;
  src: url(/assets/fonts/Aleo-Regular.ttf);
}
@font-face {
  font-family: brandfont;
  src: url(/assets/fonts/Aboreto-Regular.ttf);
}
@font-face {
  font-family: boxİnFont;
  src: url(/assets/fonts/NotoSerifKR-ExtraLight.ttf);
}
/* === Mixins === */
/* === Reset Styles === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(146deg, #9c3535, #732727);
  display: flex;
  justify-content: center;
  align-items: center;
  /* Flex merkezi ortalama */
  min-height: 100vh;
}

.h1one {
  font-size: 80px;
  font-family: h1title;
  background: -webkit-linear-gradient(0deg, #999999, #767676);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 29px;
  position: relative;
  left: -240px;
}

/* === General Styles === */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Container içinde de aynı özellikleri kullan */
}

/* === Components === */
.generalone,
.generaltwo {
  display: flex;
  justify-content: space-between; /* Öğeler arasına boşluk bırakır */
  align-items: center; /* Öğeleri dikeyde ortalar */
  flex-direction: column;
}

.inone,
.intwo {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Flex merkezi ortalama */
}

.mainbox {
  position: relative;
  right: -110px;
  width: 766.5px;
  height: 462px;
  background-color: #d9d9d9; /* SCSS için */
  border: none; /* Kenarlık kaldırıldı */
  outline: none; /* Fokus görünümü kaldırıldı */
  border-radius: 31px 31px 0 31px; /* Köşe yuvarlama */
  -webkit-mask: url(/assets/imagees/small-border.svg) center/contain no-repeat, url(/assets/imagees/cutborder.svg) center/contain no-repeat, linear-gradient(#000000 0 0);
          mask: url(/assets/imagees/small-border.svg) center/contain no-repeat, url(/assets/imagees/cutborder.svg) center/contain no-repeat, linear-gradient(#000000 0 0);
  /* Daha hassas konumlandırma için mask-size ve mask-position */
  -webkit-mask-size: 22rem, 35rem;
          mask-size: 22rem, 35rem; /* Farklı maskeler için boyutlar ayrı ayrı belirlenebilir */
  -webkit-mask-position: calc(100% + 27px) calc(100% - 161px), calc(100% + 150px) calc(100% + 1px);
          mask-position: calc(100% + 27px) calc(100% - 161px), calc(100% + 150px) calc(100% + 1px); /* y */
  -webkit-mask-composite: xor;
          mask-composite: exclude;
}

.buttonseft {
  width: 219px;
  height: 179px;
  position: relative;
  border: none;
  border-radius: 31px;
  top: 175px;
  right: 50px;
  z-index: 1;
}

.glass {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.svgimp {
  background-image: url(/assets/imagees/okysvg.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.editable-divone {
  padding: 15px 15px 0 15px;
  width: 770px;
  height: 295px;
  outline: none; /* Odak çerçevesini kaldırır */
  font-size: 24px;
  font-family: boxfont;
  color: #000000;
}

.editable-divtwo {
  padding: 0 15px 15px 15px;
  width: 590px;
  height: 200px;
  outline: none; /* Odak çerçevesini kaldırır */
  font-size: 24px;
  font-family: boxfont;
  color: #000000;
  overflow-y: hidden;
}

.highone {
  width: 900px;
  height: 720px;
  animation: fadeBlurMove 2s ease-in-out forwards;
  overflow-x: 500px;
}

.hightwo {
  display: none; /* Başlangıçta gizli */
  width: 900px;
  height: 720px;
  overflow: hidden;
  position: relative;
  top: -2px;
  z-index: -1;
  animation: fadeBlurMove 2s ease-in-out forwards;
}

.h1two {
  font-size: 80px;
  font-family: h1title;
  background: -webkit-linear-gradient(0deg, #999999, #767676);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  top: 5px;
  right: -120px;
}

.mainboxtwo {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 80px;
  width: 766.5px;
  height: 462px;
  position: relative;
  right: -65px;
  top: -127px;
  border: none; /* Kenarlık kaldırıldı */
  outline: none; /* Fokus görünümü kaldırıldı */
  border-radius: 31px 31px 31px 31px; /* Köşe yuvarlama */
}

.boxFours {
  display: grid;
  justify-items: center;
}

.h1Three {
  margin-top: 20px;
  font-family: boxİnFont;
  font-size: 22px;
  color: #fff;
}

.boxFoursİn {
  width: 258px;
  height: 66px;
  border-radius: 25px;
  background-color: #e5e2ed;
  display: grid;
  justify-items: center;
  align-items: center;
}

.boxFoursİn > p {
  font-size: 24px;
  font-family: boxfont;
  color: #000000;
}

.abso {
  position: absolute;
  right: 43%;
  top: 91%;
}

.brandbox {
  width: 290px;
  height: 86px;
  border-radius: 16px 16px 0 0;
  background-image: linear-gradient(0deg, #c9c0c0, #898282);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.texttobrand {
  font-family: brandfont;
  font-size: 40px;
}

.rr {
  font-size: 25px;
  padding-bottom: 35px;
}

/* === Again === */
/* Basit fade-in animasyonu */
.no-left-mask {
  animation: maskAnimation 2s ease-in-out forwards; /* Animasyon ekledik */
}

.tobuttonseft {
  animation: buttonseftAnimation 2s ease-in-out forwards;
}

.toh1one {
  animation: toh1OneAnimation 2s ease-in-out forwards;
}

.tohightwo {
  display: flex;
}

.tohighone {
  animation: leftall 2s ease-in-out forwards;
}

/* === Animations === */
/* Basit fade-in animasyonu */
@keyframes maskAnimation {
  0% {
    -webkit-mask-position: calc(100% + 27px) calc(100% - 161px), calc(100% + 150px) calc(100% + 1px);
            mask-position: calc(100% + 27px) calc(100% - 161px), calc(100% + 150px) calc(100% + 1px); /* Başlangıç maskesi */
  }
  100% {
    -webkit-mask-position: calc(100% + 27px) calc(100% - 161px), calc(100% + 100px) calc(100% + 1px);
            mask-position: calc(100% + 27px) calc(100% - 161px), calc(100% + 100px) calc(100% + 1px); /* Son değişim */
  }
}
@keyframes buttonseftAnimation {
  0% {
    right: 50px;
  }
  100% {
    right: 100px;
  }
}
@keyframes toh1OneAnimation {
  0% {
    left: -240px;
  }
  100% {
    left: -150px;
  }
}
@keyframes fadeBlurMove {
  0% {
    opacity: 0; /* Başlangıçta tamamen saydam */
    filter: blur(30px); /* Başlangıçta bulanık */
    transform: translateX(-100%); /* Başlangıçta ekranın sol dışına yerleştir */
  }
  100% {
    opacity: 1; /* Ortada tamamen görünür */
    filter: blur(0); /* Ortada bulanıklık yok */
    transform: translateX(0); /* Ortada tam ortada */
  }
}
@keyframes leftall {
  0% {
    transform: translateX(50%); /* Başlangıçta ekranın sol dışına yerleştir */
  }
  100% {
    transform: translateX(0); /* Ortada tam ortada */
  }
}/*# sourceMappingURL=style.css.map */