/* === Variables === */
/* Renk paleti */
$backcolor: linear-gradient(146deg, #9c3535, #732727);
$mainboxcolor: #d9d9d9;
$h1titlebg: -webkit-linear-gradient(0deg, #999999, #767676);
$brandbox: linear-gradient(0deg, #c9c0c0, #898282);

/* Yazı tipi */

//import font
@font-face {
  font-family: h1title;
  src: url(/assets/fonts/InriaSerif-Bold.ttf);
}
@font-face {
  font-family: boxfont;
  src: url(/assets/fonts/Aleo-Regular.ttf);
}
@font-face {
  font-family: brandfont;
  src: url(/assets/fonts/Aboreto-Regular.ttf);
}
@font-face {
  font-family: boxİnFont;
  src: url(/assets/fonts/NotoSerifKR-ExtraLight.ttf);
}

/* === Mixins === */
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-col {
  display: flex;
  justify-content: space-between; /* Öğeler arasına boşluk bırakır */
  align-items: center; /* Öğeleri dikeyde ortalar */
  flex-direction: column;
}

// Yan yana kutular için 1920x1080 çözünürlük
@mixin sameResolutionHight {
  width: 900px;
  height: 720px;
}

// Yan yana kutular için 1366x1080 çözünürlük
@mixin sameResolutionHightTwo {
  width: 640px;
  height: 512px;
}

// Üst üste kutular için 766x1080 çözünürlük
@mixin sameResolutionHightTwoLite {
  width: 640px;
  height: 480px;
}

// Üst üste kutular için 400x1080 çözünürlük
@mixin sameResolutionHightFour {
  width: 360px;
  height: 400px;
}

/* === Reset Styles === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 1080px;
  background: $backcolor;
  @include flex-center; /* Flex merkezi ortalama */
  min-height: 100vh;
}

/* === General Styles === */
.container {
  @include flex-center; /* Container içinde de aynı özellikleri kullan */
}

/* === Components === */
.generalone,
.generaltwo {
  @include flex-col;
}

.inone,
.intwo {
  @include flex-center; /* Flex merkezi ortalama */
}
.mainbox {
  position: relative;
  right: -110px;
  width: 766.5px;
  height: 462px;
  background-color: $mainboxcolor; /* SCSS için */
  border: none; /* Kenarlık kaldırıldı */
  outline: none; /* Fokus görünümü kaldırıldı */
  border-radius: 31px 31px 0 31px; /* Köşe yuvarlama */

  mask: url(/assets/imagees/small-border.svg) center / contain no-repeat,
    url(/assets/imagees/cutborder.svg) center / contain no-repeat,
    linear-gradient(#000000 0 0); //mask

  /* Daha hassas konumlandırma için mask-size ve mask-position */
  mask-size: 22rem, 35rem; /* Farklı maskeler için boyutlar ayrı ayrı belirlenebilir */
  mask-position: calc(100% - -27px) /* x */ calc(100% - 161px),
    /* y */ //small-border
    calc(100% - -150px) /* x */ calc(100% - -1px); /* y */ //cutborder
  mask-composite: exclude;
}

.buttonseft {
  width: 219px;
  height: 179px;
  position: relative;
  border: none;
  border-radius: 31px;
  top: 175px;
  right: 50px;
  z-index: 1;
}

.buttonseft:hover {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0)
  );
}

.glass {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.svgimp {
  background-image: url(/assets/imagees/okysvg.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

.editable-divone {
  padding: 15px 15px 0 15px;
  width: 770px;
  height: 295px;
  outline: none; /* Odak çerçevesini kaldırır */
  font-size: 24px;
  font-family: boxfont;
  color: #000000;
}

.editable-divtwo {
  padding: 0 15px 15px 15px;
  width: 590px;
  height: 200px;
  outline: none; /* Odak çerçevesini kaldırır */
  font-size: 24px;
  font-family: boxfont;
  color: #000000;
  overflow-y: hidden;
}

.highone {
  @include sameResolutionHight;
  // border: 1px solid yellow;
  animation: fadeBlurMove 2s ease-in-out forwards;
  position: relative;
  overflow-x: 500px;
}

.hightwo {
  display: none; /* Başlangıçta gizli */
  // border: 1px solid yellow;
  @include sameResolutionHight;
  overflow: hidden;
  position: relative;
  top: -2px;
  z-index: -1;
  animation: fadeBlurMove 2s ease-in-out forwards;
}

.h1one {
  font-size: 80px;
  font-family: h1title;
  background: $h1titlebg;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 29px;
  position: relative;
  left: -240px;
}

.h1two {
  font-size: 80px;
  font-family: h1title;
  background: $h1titlebg;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  top: 5px;
  right: -120px;
}

.mainboxtwo {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 80px;
  width: 766.5px;
  height: 462px;
  position: relative;
  right: -65px;
  top: -127px;
  border: none; /* Kenarlık kaldırıldı */
  outline: none; /* Fokus görünümü kaldırıldı */
  border-radius: 31px 31px 31px 31px; /* Köşe yuvarlama */
}

.boxFours {
  display: grid;
  justify-items: center;
}

.h1Three {
  margin-top: 20px;
  font-family: boxİnFont;
  font-size: 22px;
  color: #fff;
}

.boxFoursİn {
  width: 258px;
  height: 66px;
  border-radius: 25px;
  background-color: #e5e2ed;
  display: grid;
  justify-items: center;
  align-items: center;
  overflow: hidden;
}

.text {
  font-size: 24px;
  font-family: boxfont;
  color: #000000;
}

.abso {
  position: absolute;
  top: 100%; /* Kutuyu en alta sabitler */
  left: 50%; /* Yatayda ortalar */
  transform: translateX(-50%); /* Kutunun tam ortalanmasını sağlar */
}

.brandbox {
  width: 290px;
  height: 86px;
  border-radius: 16px;
  background-image: $brandbox;
  overflow: hidden;
  @include flex-center;
}

.texttobrand {
  font-family: brandfont;
  font-size: 40px;
}

.rr {
  font-size: 25px;
  padding-bottom: 35px;
}

/* === Again === */

.no-left-mask {
  animation: maskAnimation 2s ease-in-out forwards; /* Animasyon ekledik */
}
.tobuttonseft {
  animation: buttonseftAnimation 2s ease-in-out forwards; //Animasyon ile girdiğim değer
}
.toh1one {
  animation: toh1OneAnimation 2s ease-in-out forwards; //Animasyon ile girdiğim değer
}

.tohightwo {
  display: flex;
}

.tohighone {
  animation: leftall 2s ease-in-out forwards;
}
/* === Animations === */
/* Basit fade-in animasyonu */

@keyframes maskAnimation {
  0% {
    mask-position: calc(100% - -27px) calc(100% - 161px),
      calc(100% - -150px) calc(100% - -1px); /* Başlangıç maskesi */
  }

  100% {
    mask-position: calc(100% - -27px) calc(100% - 161px),
      calc(100% - -100px) calc(100% - -1px); /* Son değişim */
  }
}

@keyframes buttonseftAnimation {
  0% {
    right: 50px;
  }

  100% {
    right: 100px;
  }
}

@keyframes toh1OneAnimation {
  0% {
    left: -240px;
  }
  100% {
    left: -150px;
  }
}

@keyframes fadeBlurMove {
  0% {
    opacity: 0; /* Başlangıçta tamamen saydam */
    filter: blur(30px); /* Başlangıçta bulanık */
    transform: translateX(-100%); /* Başlangıçta ekranın sol dışına yerleştir */
  }
  100% {
    opacity: 1; /* Ortada tamamen görünür */
    filter: blur(0); /* Ortada bulanıklık yok */
    transform: translateX(0); /* Ortada tam ortada */
  }
}

@keyframes leftall {
  0% {
    transform: translateX(50%); /* Başlangıçta ekranın sol dışına yerleştir */
  }
  100% {
    transform: translateX(0); /* Ortada tam ortada */
  }
}

/* === Responsive === */

// Ekran genişliğine göre farklı mixin'leri uygula
@media screen and (max-width: 1367px) {
  .highone,
  .hightwo {
    @include sameResolutionHightTwo;
  }
  .h1one {
    position: relative;
    left: -173px;
    top: 20px;
    font-size: 60px;
  }
  .h1two {
    font-size: 60px;
    right: -82px;
    top: 20px;
  }
  .mainbox,
  .mainboxtwo {
    width: 545.6px;
    height: 328.9px;
  }
  .mainbox {
    position: relative;
    right: -70px;
    top: 10px;
    border-radius: 21px 21px 0 21px; /* Köşe yuvarlama */
    mask: url(/assets/imagees/small-bordertwo.svg) center / contain no-repeat,
      url(/assets/imagees/cutbordertwo.svg) center / contain no-repeat,
      linear-gradient(#000000 0 0); //mask
    /* Daha hassas konumlandırma için mask-size ve mask-position */
    mask-size: 22rem, 35rem; /* Farklı maskeler için boyutlar ayrı ayrı belirlenebilir */
    mask-position: calc(100% - -32px) /* x */ calc(100% - 102px),
      /* y */ //small-border
      calc(100% - -100px) /* x */ calc(100% - -1px); /* y */ //cutborder
    mask-composite: exclude;
  }
  .buttonseft {
    top: 135px;
    border-radius: 21px;
    width: 155.9px;
    height: 127.3px;
  }
  .svgimp {
    width: 35px;
    height: 35px;
  }

  .editable-divone {
    padding: 15px 15px 0 15px;
    width: 547px;
    height: 220px;
    font-size: 18px;
  }

  .editable-divtwo {
    padding: 0 0 15px 15px;
    width: 395px;
    height: 120px;
    font-size: 18px;
    overflow-y: hidden;
  }

  .mainboxtwo {
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
    top: -68px;
  }

  .h1Three {
    font-size: 18px;
    position: relative;
    top: -14px;
  }

  .boxFoursİn {
    width: 183.7px;
    height: 46.9px;
    border-radius: 17.8px;
  }

  .text {
    font-size: 18px;
  }

  @keyframes maskAnimation {
    0% {
      mask-position: calc(100% - -32px) /* x */ calc(100% - 102px),
        /* y */ //small-border
        calc(100% - -100px) /* x */ calc(100% - -1px); /* Başlangıç maskesi */
    }

    100% {
      mask-position: calc(100% - -32px) /* x */ calc(100% - 102px),
        /* y */ //small-border
        calc(100% - -70px) /* x */ calc(100% - -1px); /* Son değişim */
    }
  }

  @keyframes toh1OneAnimation {
    0% {
      left: -173px;
    }
    100% {
      left: -110px;
    }
  }

  @keyframes buttonseftAnimation {
    0% {
      right: 50px;
    }
    100% {
      right: 80px;
    }
  }
}

@media screen and (max-width: 767px) {
  .container {
    @include flex-col;
  }

  .highone,
  .hightwo {
    @include sameResolutionHightTwoLite;
  }

  .mainbox {
    mask-position: calc(100% - -32px) /* x */ calc(100% - 102px),
      /* y */ //small-border
      calc(100% - -70px) /* x */ calc(100% - -1px); /* Son değişim */
  }

  .mainboxtwo {
    right: -45px;
    top: -60px;
  }

  .buttonseft {
    right: 80px;
  }
  .h1one {
    left: -110px;
  }

  .h1two {
    top: -10px;
    left: 50px;
  }

  .abso {
    position: absolute;
    top: 1030px; /* Kutuyu en alta sabitler */
    left: 50%; /* Yatayda ortalar */
    transform: translateX(-50%); /* Kutunun tam ortalanmasını sağlar */
  }

  .brandbox {
    width: 180.4px;
    height: 50.1px;
  }

  .texttobrand {
    font-family: brandfont;
    font-size: 25px;
  }

  .rr {
    font-size: 20px;
    padding-bottom: 20px;
  }

  @keyframes maskAnimation {
    100% {
      mask-position: calc(100% - -32px) /* x */ calc(100% - 102px),
        /* y */ //small-border
        calc(100% - -70px) /* x */ calc(100% - -1px); /* Son değişim */
    }
  }

  @keyframes buttonseftAnimation {
    100% {
      right: 80px;
    }
  }

  @keyframes toh1OneAnimation {
    0% {
      left: -110px;
    }
    100% {
      left: -20px;
    }
  }

  @keyframes fadeBlurMove {
    0% {
      opacity: 0; /* Başlangıçta tamamen saydam */
      filter: blur(30px); /* Başlangıçta bulanık */
      transform: translateY(
        -100%
      ); /* Başlangıçta ekranın sol dışına yerleştir */
    }
    100% {
      opacity: 1; /* Ortada tamamen görünür */
      filter: blur(0); /* Ortada bulanıklık yok */
      transform: translateY(0); /* Ortada tam ortada */
    }
  }

  @keyframes leftall {
    0% {
      transform: translateY(50%); /* Başlangıçta ekranın sol dışına yerleştir */
    }
    100% {
      transform: translateY(0); /* Ortada tam ortada */
    }
  }
}

@media screen and (max-width: 400px) {
  .container {
    @include flex-col;
  }

  .highone,
  .hightwo {
    @include sameResolutionHightFour;
  }

  .mainbox {
    width: 340px;
    height: 240px;
    position: relative;
    right: -50px;
    top: 10px;
    border-radius: 14px 14px 0 14px; /* Köşe yuvarlama */
    mask: url(/assets/imagees/small-borderthree.svg) center / contain no-repeat,
      url(/assets/imagees/cutborderthree.svg) center / contain no-repeat,
      linear-gradient(#000000 0 0); //mask
    /* Daha hassas konumlandırma için mask-size ve mask-position */
    mask-size: 22rem, 35rem; /* Farklı maskeler için boyutlar ayrı ayrı belirlenebilir */
    mask-composite: exclude;
    mask-position: calc(100% - -39px) /* x */ calc(100% - 41px),
      /* y */ //small-border
      calc(100% - -26px) /* x */ calc(100% - -1px); /* Son değişim */
  }

  .mainboxtwo {
    width: 340px;
    height: 240px;
    right: -8px;
    top: -60px;
    border-radius: 14px;
    gap: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .editable-divone {
    padding: 10px 10px 0 10px;
    width: 340px;
    height: 172px;
    font-size: 14px;
  }

  .editable-divtwo {
    padding: 0 0 10px 10px;
    width: 340px;
    height: 120px;
    font-size: 14px;
    overflow-y: hidden;
  }

  .buttonseft {
    width: 100px;
    height: 80px;
    top: 112px;
    right: 50px;
    border-radius: 14px;
  }
  .h1one {
    left: 0;
    font-size: 40px;
  }

  .h1two {
    font-size: 40px;
    top: -2px;
    left: 10px;
  }

  .svgimp {
    width: 25px;
    height: 25px;
  }

  .h1Three {
    font-size: 11px;
  }

  .boxFoursİn {
    width: 150px; // Küçük ekranlar için genişlik (örnek değer)
    height: 23px; // Küçük ekranlar için yükseklik (örnek değer)
  }

  .text {
    font-size: 14px;
  }

  .brandbox {
    width: 180.4px;
    height: 50.1px;
    border-radius: 12px;
  }

  .texttobrand {
    font-family: brandfont;
    font-size: 25px;
  }

  .rr {
    font-size: 20px;
    padding-bottom: 20px;
  }

  @keyframes maskAnimation {
    100% {
      mask-position: calc(100% - -39px) /* x */ calc(100% - 41px),
        /* y */ //small-border
        calc(100% - -26px) /* x */ calc(100% - -1px); /* Son değişim */
    }
  }

  @keyframes buttonseftAnimation {
    100% {
      right: 50px;
    }
  }

  @keyframes toh1OneAnimation {
    100% {
      left: 0;
    }
  }

  @keyframes fadeBlurMove {
    0% {
      opacity: 0; /* Başlangıçta tamamen saydam */
      filter: blur(30px); /* Başlangıçta bulanık */
      transform: translateY(
        -100%
      ); /* Başlangıçta ekranın sol dışına yerleştir */
    }
    100% {
      opacity: 1; /* Ortada tamamen görünür */
      filter: blur(0); /* Ortada bulanıklık yok */
      transform: translateY(0); /* Ortada tam ortada */
    }
  }

  @keyframes leftall {
    0% {
      transform: translateY(50%); /* Başlangıçta ekranın sol dışına yerleştir */
    }
    100% {
      transform: translateY(0); /* Ortada tam ortada */
    }
  }
}
